<!-- Container fluid -->
<div class="container-fluid p-6">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div class="border-bottom pb-4 mb-4">
        <h3 class="mb-0 fw-bold">
          Overview
        </h3>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <!-- Bg -->
      <div
        class="pt-20 rounded-top"
        style="background:
                url(./images/background/profile-cover.jpg) no-repeat;
                background-size: cover;"
      ></div>
      <div class="bg-white rounded-bottom smooth-shadow-sm">
        <div
          class="d-flex align-items-center justify-content-between
                  pt-4 pb-6 px-4"
        >
          <div class="d-flex align-items-center">
            <!-- avatar -->
            <div
              class="avatar-xxl avatar-indicators avatar-online me-2
                      position-relative d-flex justify-content-end
                      align-items-end mt-n10"
            >
              <img
                src="https://avatars.dicebear.com/api/croodles/{{user.id}}.svg?background=%23ffffff"
                class="avatar-xxl
                        rounded-circle border border-4 border-white-color-40"
                alt=""
              />
              <a
                href="#!"
                class="position-absolute top-0 right-0 me-2"
                data-bs-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Verified"
              >
                <img
                  src="/images/svg/checked-mark.svg"
                  alt=""
                  height="30"
                  width="30"
                />
              </a>
            </div>
            <!-- text -->
            <div class="lh-1">
              <h2 class="mb-0">
                {{user.username}}
                <a
                  href="#!"
                  class="text-decoration-none"
                  data-bs-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Beginner"
                ></a>
              </h2>
              <p class="mb-0 d-block">
                @{{user.username}}
              </p>
            </div>
          </div>
          <div>
            <a href="/doodle" class="btn btn-primary">
            Graffiti wall
          </a>
          </div>
        </div>
        <!-- nav -->
        <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Follows 135
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Followers 10k
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Projects 10
            </a>
          </li>

          <!-- hstack-->

        </ul>
      </div>
    </div>
  </div>
  <!-- content -->
  <div class="py-6">
    <!-- row -->
    <div class="row">
      {{!-- About Me --}}
      <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
        <!-- card -->
        <div class="card">
          <!-- card body -->
          <div class="card-body">
            <!-- card title -->
            <h4 class="card-title">
              About Me
            </h4>
            <span
              class="text-uppercase fw-medium text-dark
                      fs-5 ls-2"
            >
              Bio
            </span>
            <!-- text -->
            <p class="mt-2 mb-6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen disse var ius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <!-- row -->
            <div class="row">

            </div>
          </div>
        </div>
      </div>
      {{!-- Activity Feed --}}
      <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
        <!-- card -->
        <div class="row">
          <div class="col-12">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body">
                <!-- card title -->
                <h4 class="card-title">
                  Activity Feed
                </h4>
                {{#each user.posts as |post|}}
                <a href="/post/{{post.id}}">
                <div class="d-flex my-5">
                  <div>
                    <img
                      src="https://doodleipsum.com/256x256/abstract/avatar?bg=lightgray&n={{post.id}}"
                      class="rounded-circle avatar-md"
                      alt=""
                    />
                  </div>
                  <!-- content -->
                  <div class="ms-3">
                    <h5 class="mb-1">
                      {{post.user.username}}
                    </h5>
                    <p class="text-muted mb-2">
                      {{post.title}}
                    </p>
                    <p class="fs-5 mb-0">
                      {{format_date post.created_at}}
                    </p>
                  </div>
                </div>
                </a>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>